.container {
  position: absolute;
  width: 100%;
  height: 680px;
  left: -2px;
  top: 65px;
  z-index: auto;
  /* align-items: center; */
}

.titleText {
  position: absolute;
  width: 743px;
  height: 216px;
  left: 270px;
  top: 160px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 108px;
  text-align: center;
  color: #ffffff;
  z-index: 10;
}

.subText {
  position: absolute;
  width: 840px;
  height: 50px;
  left: 230px;
  top: 411px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  z-index: 10;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 680px;
  top: 65px;
  background: rgba(0, 191, 255, 0.69);
  /* border: 1px solid #ffffff; */
  box-sizing: border-box;
}

.img {
  position: absolute;
  width: 100%;
  height: 680px;
  left: 1px;
  top: 65px;
}

.search-container {
  position: absolute;
  width: 1051px;
  height: 140px;
  left: 35px;
  top: 527px;
}

.form {
  position: absolute;
  width: 1051px;
  height: 140px;
  left: 35px;
  top: 100px;
  background: rgb(58, 82, 149, 0.84);
  border-radius: 10px;
}

.input-one {
  position: absolute;
  width: 366px;
  height: 47px;
  left: 57px;
  top: 47px;
  background: hsl(0, 0%, 100%);
  border: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #ced3d8;
  border-radius: 10px;
}

.input-two {
  position: absolute;
  width: 366px;
  height: 47px;
  left: 459px;
  top: 47px;
  background: #ffffff;
  border: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #ced3d8;
  border-radius: 10px;
}

::placeholder {
  color: #ced3d8;
}

.btn {
  position: absolute;
  width: 150px;
  height: 47px;
  left: 850px;
  top: 48px;
  position: absolute;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  background: #ff8c00;
  border: none;
  border-radius: 10px;
}
