* {
	box-sizing: border-box;
}

.keepintouch-sm {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: auto;
	background-color: rgb(0, 191, 255);
	font-size: 36px;
	padding: 30px;
}

.footer-title {
	text-align: center;
	margin: 0 auto;
	font-size: 36px;
	font-family: Roboto;
	color: white;
	font-weight: 400;
}

#form-keepintouch {
	display: inline-block;
}

#input-keepintouch {
	margin-top: 20px;
	margin-left: 0px;
	width: 460px;
	height: 58px;
	background-color: #00a2e1;
	border: 0ch;
	padding-left: 15px;
	color: white;
	font-size: 20px;
	border-radius: 5px;
}

#input-keepintouch-saved {
	margin-top: 20px;
	margin-left: 0px;
	width: 460px;
	height: 58px;
	background-color: white;
	border: 0ch;
	padding-left: 15px;
	color: #00a2e1;
	font-size: 20px;
	border-radius: 5px;
}

#input-keepintouch-saved::placeholder {
	color: gray;
	font-size: 24px;
}

#input-keepintouch::placeholder {
	color: white;
	font-size: 24px;
}

#social-media {
	display: inline-block;
	justify-content: center;
	align-items: center;
}

.sm-icons {
	text-align: center;
	margin-top: 20px;
}

.footer-sm-icon {
	text-align: center;
	font-size: 44px;
	fill: white;
	margin: 10px 10px 0px 10px;
}

#nav-footer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: auto;
	background: #e5e5e5;
	margin-top: 0;
	padding: 20px 0;
}

#nav-footer > nav > ul > li {
	list-style: none;
	display: inline;
	margin-right: 70px;
	font-size: 20px;
	font-weight: 400;
	font-family: Roboto;
}

#nav-footer > nav > ul > li > a {
	text-decoration: none;
	font-family: Roboto;
	color: black;
}

@media (max-width: 1024px) {
	#nav-footer {
		padding: 15px 0;
	}

	#nav-footer > nav > ul > li {
		margin-right: 33px;
		font-size: 17px;
	}
}

@media (max-width: 768px) {
	#input-keepintouch {
		width: 350px;
	}
	.footer-title {
		font-size: 32px;
	}
	#nav-footer > nav > ul > li {
		margin-right: 20px;
		font-size: 16px;
	}
}

@media (max-width: 685px) {
	.keepintouch-sm {
		padding: 22px;
	}
	.footer-title {
		font-size: 24px;
	}
	#input-keepintouch {
		width: 280px;
		height: 46px;
		padding-left: 15px;
		font-size: 15px;
		border-radius: 3px;
	}

	#input-keepintouch::placeholder {
		font-size: 18px;
	}

	#input-keepintouch-saved {
		width: 280px;
		height: 46px;
		padding-left: 15px;
		font-size: 15px;
		border-radius: 3px;
	}
	#input-keepintouch-saved::placeholder {
		font-size: 18px;
	}
	.footer-sm-icon {
		font-size: 36px;
		margin: 10px 7px 2px 7px;
	}
	#nav-footer > nav > ul > li {
		margin-right: 12px;
		font-size: 12px;
	}
}

@media (max-width: 532px) {
	.keepintouch-sm {
		padding: 15px;
	}
	.footer-title {
		font-size: 22px;
	}
	#input-keepintouch {
		width: 180px;
		height: 38px;
		padding-left: 10px;
		font-size: 11px;
	}

	#input-keepintouch::placeholder {
		font-size: 13px;
	}

	#input-keepintouch-saved {
		width: 180px;
		height: 38px;
		padding-left: 10px;
		font-size: 11px;
	}
	#input-keepintouch-saved::placeholder {
		font-size: 13px;
	}
	.footer-sm-icon {
		font-size: 30px;
		margin: 5px 5px 2px 5px;
	}

	#nav-footer {
		padding: 10px 0px;
	}
	#nav-footer > nav > ul {
		padding: 0px;
	}

	#nav-footer > nav > ul > li {
		display: block;
		text-align: center;
		margin: 9px 0px;
		font-size: 14px;
	}
}

@media (max-width: 360px) {
	#input-keepintouch {
		margin: 5px;
		width: 150px;
		height: 32px;
		padding-left: 8px;
		font-size: 10px;
	}
	#input-keepintouch::placeholder {
		font-size: 10px;
		padding-left: 5px;
	}
	.footer-title {
		font-size: 16px;
	}

	.sm-icons {
		text-align: center;
		margin-top: 5px;
		margin-right: 0px;
		margin-left: auto;
	}

	.footer-sm-icon {
		font-size: 20px;
		margin: 2px 2px 1px 2px;
	}

	#nav-footer {
		padding: 5px 0;
	}

	#nav-footer > nav > ul > li {
		font-size: 12px;
	}
}
