.contact-us-container {
	height: auto;
	width: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: #f6f6f6;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.contact-us-header {
	height: 153px;
	background-color: rgb(0, 191, 255);
	text-align: center;
	width: 100%;
	padding-top: 50px;
	margin-top: 70px;
}

.contact-us-title {
	color: #fff;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 44px;
	line-height: 30px;
}

.contact-us-main-side {
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: center;
	flex: 7;
}

.contact-us-form-container {
	display: flex;
}

.contact-us-form {
	display: flex;
	flex-direction: column;
	align-items: left;
	margin-top: 50px;
	margin-bottom: 70px;
	margin-left: 60px;
	width: 85%;
	padding: 30px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 20px;
	color: rgb(0, 191, 255);
	background-color: #fff;
	border-radius: 5px;
}

.contact-us-form > input {
	height: 42px;
	border: solid 1px rgb(0, 191, 255);
	border-radius: 3px;
	padding-left: 7px;
	font-family: Roboto;
	width: 99%;
}

.contact-us-form > input::placeholder {
	color: lightgray;
	font-size: 16px;
}

.contact-us-form > label {
	padding: 5px 0px;
}

.contact-us-form > textarea {
	border: solid 1px rgb(0, 191, 255);
	border-radius: 3px;
	height: 112px;
	border-radius: 3px;
	margin-bottom: 20px;
	font-family: Roboto;
	padding: 5px;
	line-height: 1.5;
	width: 99%;
	margin-left: 0;
}

.contact-us-form > textarea::placeholder {
	color: lightgray;
	font-size: 16px;
	font-family: Roboto;
	padding-left: 5px;
}

.contact-us-form > select {
	border: solid 1px rgb(0, 191, 255);
	border-radius: 3px;
	height: 42px;
	font-family: Roboto;
	padding-left: 10px;
	font-size: 16px;
	width: 99%;
	margin-left: 0;
}

.btn-contact-us-page-form-submit {
	background: #f49131;
	border-radius: 5px;
	border: none;
	color: white;
	height: 55px;
	font-family: Roboto;
	font-size: 22px;
	margin-bottom: 30px;
}

.contact-us-side-bar {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	flex: 4;
	background-color: rgb(0, 191, 255);
	margin-top: 50px;
	margin-bottom: 70px;
	margin-right: 60px;
	width: 85%;
	border-radius: 5px;
	padding-bottom: 30px;
}

.contact-us-side-bar-title {
	text-align: center;
	color: #fff;
	font-family: Roboto;
	height: auto;
	padding: 20px;
	font-size: 24px;
}

.contact-us-side-bar-email {
	display: inline-block;
	text-align: center;
	width: 80%;
	border: solid 1px #fff;
	border-radius: 2px;
	margin-bottom: 10px;
	padding: 10px;
	font-size: 18px;
	font-family: Roboto;
	text-decoration: underline;
}

.contact-us-side-bar-contact-details > a {
	color: white;
}

.contact-us-side-bar-phone {
	display: inline-block;
	text-align: center;
	width: 80%;
	border: solid 1px #fff;
	border-radius: 2px;
	padding: 10px;
	color: white;
	font-size: 18px;
	font-family: Roboto;
}

.contact-us-side-bar-contact-details {
	margin-left: 5px;
}

@media (max-width: 1366px) {
}

@media (max-width: 879px) {
	.contact-us-form {
		margin-top: 40px;
		margin-bottom: 50px;
		margin-left: 30px;
		width: 90%;
	}
	.contact-us-side-bar {
		margin-top: 40px;
		margin-right: 30px;
		width: 93%;
	}
	.contact-us-side-bar-email {
		font-size: 16px;
	}

	.contact-us-side-bar-phone {
		font-size: 16px;
	}
}

@media (max-width: 768px) {
	.contact-us-header {
		height: 120px;
	}
	.contact-us-title {
		font-size: 30px;
		line-height: 1.2;
	}
}

@media (max-width: 660px) {
	.contact-us-header {
		height: 100px;
	}
	.contact-us-title {
		font-size: 28px;
	}
	.contact-us-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.contact-us-main-side {
		display: flex;
		justify-content: center;
		align-items: center;
		flex: none;
		width: 90%;
	}

	.contact-us-form-container {
		display: flex;
		justify-content: center;
		width: 90%;
	}
	.contact-us-form {
		margin-bottom: 30px;
		margin-left: 0px;
		width: 95%;
		padding: 30px;
		font-size: 14px;
		line-height: 15px;
	}
	.contact-us-form > input {
		height: 33px;
	}

	.contact-us-form > input::placeholder {
		font-size: 12px;
	}

	.contact-us-form > textarea {
		height: 130px;
		margin-bottom: 25px;
	}

	.contact-us-form > textarea::placeholder {
		font-size: 12px;
	}

	.contact-us-form > select {
		height: 33px;
		padding-left: 5px;
		font-size: 12px;
	}

	.btn-contact-us-page-form-submit {
		height: 38px;
		font-size: 16px;
		margin-bottom: 20px;
	}

	.contact-us-side-bar {
		flex: none;
		margin-top: 20px;
		margin-bottom: 50px;
		margin-right: 0px;
		width: 60%;
		padding-bottom: 20px;
	}

	.contact-us-side-bar-title {
		padding: 15px;
		font-size: 18px;
	}

	.contact-us-side-bar-email {
		margin-bottom: 10px;
		padding: 5px;
		font-size: 13px;
	}

	.contact-us-side-bar-phone {
		padding: 5px;
		font-size: 13px;
	}

	.contact-us-side-bar-contact-details {
		margin-left: 5px;
	}
}

@media (max-width: 360px) {
	.contact-us-header {
		height: 100px;
	}
	.contact-us-title {
		font-size: 28px;
	}
	.contact-us-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.contact-us-main-side {
		flex: none;
	}
	.contact-us-form {
		margin-bottom: 30px;
		margin-left: 0px;
		width: 300px;
		padding: 18px;
		font-size: 14px;
		line-height: 15px;
	}

	.contact-us-form > label {
		padding: 2px 0px;
	}

	.contact-us-form > input {
		height: 26px;
		margin-top: 0px;
	}

	.contact-us-form > input::placeholder {
		font-size: 12px;
	}

	.contact-us-form > textarea {
		height: 100px;
		margin-bottom: 30px;
	}

	.contact-us-form > textarea::placeholder {
		font-size: 12px;
	}

	.contact-us-form > select {
		height: 26px;
		padding-left: 5px;
		font-size: 12px;
	}

	.btn-contact-us-page-form-submit {
		height: 38px;
		font-size: 16px;
		margin-bottom: 20px;
	}

	.contact-us-side-bar {
		flex: none;
		margin-top: 20px;
		margin-bottom: 50px;
		margin-right: 0px;
		width: 80%;
		padding-bottom: 20px;
	}

	.contact-us-side-bar-title {
		padding: 15px;
		font-size: 18px;
	}

	.contact-us-side-bar-email {
		margin-bottom: 10px;
		padding: 5px;
		font-size: 13px;
	}

	.contact-us-side-bar-phone {
		padding: 5px;
		font-size: 13px;
	}

	.contact-us-side-bar-contact-details {
		margin-left: 5px;
	}
}
