.policies-header {
	height: 153px;
	background-color: rgb(0, 191, 255);
	text-align: center;
	width: 100%;
	padding-top: 50px;
	margin-top: 70px;
}

.policies-title {
	color: #fff;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 44px;
	line-height: 30px;
}

.policies-content-container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.policies-content-title {
	text-align: left;
	width: 80%;
	margin-top: 58px;
	margin-right: auto;
	margin-left: auto;
	font-weight: bolder;
	font-family: Roboto;
	font-style: normal;
	line-height: 50px;
	color: #000000;
	font-size: 28px;
}

.policies-content-subtitle {
	font-weight: bold;
	width: 80%;
	margin-top: 10px;
	margin-right: auto;
	margin-left: auto;
	font-family: Roboto;
	font-style: normal;
	line-height: 50px;
	color: #000000;
	font-size: 24px;
}

.policies-content-text {
	font-weight: normal;
	width: 80%;
	margin-top: 10px;
	margin-right: auto;
	margin-left: auto;
	font-family: Roboto;
	font-style: normal;
	line-height: 1.7;
	color: #000000;
	font-size: 20px;
}

@media (max-width: 1366px) {
}

@media (max-width: 768px) {
	.policies-header {
		height: 120px;
	}
	.policies-title {
		font-size: 30px;
		line-height: 1.5;
	}
}

@media (max-width: 360px) {
	.policies-header {
		height: 100px;
	}
	.policies-title {
		font-size: 22px;
	}

	.policies-content-title {
		margin-top: 58px;
		line-height: 30px;
		font-size: 22px;
	}

	.policies-content-subtitle {
		margin-top: 10px;
		line-height: 30px;
		font-size: 18px;
	}

	.policies-content-text {
		margin-top: 10px;
		line-height: 1.7;
		font-size: 14px;
	}
}
