*{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
}

.mainContent{
    width: 100%;
    border: 2px solid brown;
    box-sizing: border-box;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    background-color:darkgoldenrod;
}

.main-title{
height: 100px;
font-size: 36px;
line-height: 42px;
text-align: center;
}

.main-image{
height: 850px;
background-color:rgb(8, 51, 15);
display: flex;
flex-direction: row;
flex-wrap:wrap ;
justify-content: center;

}
.main-image-all{
 width: 380px;
 height:250px;
 border-radius: 10px;
 background-color: aquamarine;
 margin: 10px 10px;
}

.main-allCities{
  /* width: 100px; */
  height: 100px;
  background-color: aquamarine;
  display: flex;
   justify-content: center;
   align-items: center;
}
.main-allCities .btn{
    width: 350px;
  height: 60px;
  background: #ffffff;
  border: 1px solid #03c5f0;
  font-size: 36px;
  line-height: 42px;
  color: #03c5f0;
  border-radius: 5px;
  }