.mainContent {
  width: 100%;
  box-sizing: border-box;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.main-title {
  height: 100px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  padding-top: 20px;
  color: #000000;
}

.main-image {
  height: 850px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.main-image-all {
  position: relative;
  width: 380px;
  height: 250px;
  border-radius: 10px;
  margin: 10px 10px;
  overflow: hidden;
}
.main-image-all img {
  width: 380px;
  height: 250px;
  transition: transform 0.2s ease;
  overflow: hidden;
}
.main-image-all:hover {
  opacity: 0.8;
  cursor: pointer;
}

.main-image-all:hover img {
  transform: scale(1.15, 1.15);
}
.main-image-all .top-text h3 {
  position: absolute;
  top: 40%;
  width: 380px;
  font-size: 32px;
  line-height: 42px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  color: #ffffff;
  transition: transform 0.2s ease;
  text-align: center;
}

.main-image-all .top-text p {
  position: absolute;
  width: 380px;
  top: 58%;
  text-align: center;
  font-size: 26px;
  line-height: 28px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  color: #ffffff;
  display: none;
  overflow: hidden;
  transition: transform 0.2s ease;
}
.main-image-all:hover .top-text h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  transform: scale(1.15, 1.15);
}
.main-image-all:hover .top-text p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 28px;
  color: #ffffff;
  display: block;
  transform: scale(1.15, 1.15);
}

.main-allCities {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -20px;
}
.main-allCities .btn {
  width: 350px;
  height: 60px;
  background: #ffffff;
  border: 1px solid #03c5f0;
  font-size: 36px;
  line-height: 42px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  color: #03c5f0;
  border-radius: 5px;
}

.main-search {
  width: 100%;
  height: 492px;
  background: rgba(229, 229, 229, 0.76);
}
.main-search .p {
  padding-top: 30px;
  padding-bottom: 20px;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #000000;
}
.main-search .box-cont {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.main-search .box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 390px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 40px;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 33px;
  color: #000000;
}
.main-search .box-btn {
  text-align: center;
  font-size: 30px;
  line-height: 35px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  color: #ffffff;
  background: #f49131;
  border-radius: 5px;
  border: none;
  padding: 15px 15px;
  margin-left: 40%;
}

.img-box h3,
.img-box p {
  overflow: hidden;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
}
.main-con {
  display: flex;
  flex-direction: row;
  height: 458px;
  justify-content: space-between;
  background: rgb(0, 191, 255);
}

.main-con .img-box {
  align-self: center;
  text-align: center;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  margin-right: 5%;
  margin-left: 5%;
  width: 30%;
}

.main-con .img-box1 {
  margin-top: 50px;
  margin-left: -4%;
  overflow: hidden;
  width: 26%;
}

.img-box1 img {
  margin-left: -140px;
}
.main-empty {
  background: #e5e5e5;
  height: 100px;
  width: 100%;
}

/**************************************************/
@media only screen and (max-width: 1024px) {
  .main-title {
    font-size: 38px;
    padding-top: 23px;
  }
  .main-image {
    height: 1360px;
  
  }
  .main-search .box-btn {
    margin-left: 35%;
  }

  .img-box h3,
  .img-box p {
    font-size: 28px;
    line-height: 36px;
   }

  
  .main-con .img-box1 {
    margin-left: -6%;
     width: 36%;
   }

}


@media only screen and (max-width: 768px) {
  .main-title {
    height: 60px;   
    font-size: 26px;
    line-height: 22px;    
    padding-top: 10px;
   
  }
  .main-image {
    height: 1250px;
  }

  .main-image-all {
    width: 350px;
    height: 200px;
  }
  .main-image-all img {
    width: 350px;
    height: 200px;
  }

  .main-image-all .top-text h3 {
    width: 350px;
    font-size: 24px;
    line-height: 44px;
  }

  .main-image-all .top-text p {
    width: 350px;
  }
  .main-image-all:hover .top-text h3 {
  
    font-size: 26px;
    
  }
  .main-image-all:hover .top-text p {
    
    font-size: 22px;
    line-height: 28px;
    
  }
  .main-allCities .btn {
    width: 200px;
    height: 50px;
    font-size: 28px;
  }
  .main-search .p {
    font-size: 32px;
  }

  .main-search .box-cont {
    margin-left: 10px;
    margin-right: 10px;
  }
  .main-search .box {
    width: 350px;
    font-size: 16px;
    line-height: 28px;
  }

  .main-search .box-btn {
    font-size: 28px;
    padding: 10px 10px;
    margin-left: 31%;
    margin-top: 15px;
  }
  .img-box h3,
  .img-box p {
    font-size: 22px;
    line-height: 30px;
  }
  .main-con {
    height: 400px;
  }

  .main-con .img-box {
    margin-right: 5%;
    margin-left: 5%;
    width: 30%;
  }

  .main-con .img-box1 {
    margin-top: -10px;
    margin-left: -23%;
    overflow: hidden;
    width: 50%;
  }

  .img-box1 > img {
    margin-left: 5%;
    width: 350px;
    height: 410px;
  }
  .main-empty {
    height: 80px;
  }
}

/**************************************************/



@media only screen and (max-width: 736px) {
  .main-image {
    height: 1450px;
  }

  .main-image-all {
    width: 300px;
    height: 240px;
  }
  .main-image-all img {
    width: 300px;
    height: 240px;
  }

  .main-image-all .top-text h3 {
    width: 300px;
    font-size: 30px;
    line-height: 44px;
  }

  .main-image-all .top-text p {
    width: 300px;
  }

  .main-allCities {
    margin-top: -28x;
  }
  .main-allCities .btn {
    width: 200px;
    height: 50px;
    font-size: 28px;
  }
  .main-search .p {
    font-size: 32px;
  }

  .main-search .box-cont {
    margin-left: 10px;
    margin-right: 10px;
  }
  .main-search .box {
    width: 350px;
    font-size: 16px;
    line-height: 28px;
  }

  .main-search .box-btn {
    font-size: 28px;
    padding: 10px 10px;
    margin-left: 31%;
    margin-top: 15px;
  }
  .img-box h3,
  .img-box p {
    font-size: 22px;
    line-height: 30px;
  }
  .main-con {
    height: 400px;
  }

  .main-con .img-box {
    margin-right: 5%;
    margin-left: 5%;
    width: 30%;
  }

  .main-con .img-box1 {
    margin-top: -10px;
    margin-left: -15%;
    overflow: hidden;
    width: 50%;
  }

  .img-box1 > img {
    margin-left: 5%;
    width: 350px;
    height: 410px;
  }
  .main-empty {
    height: 80px;
  }
}


@media only screen and (max-width: 667px) {
  .main-title {
    height: 60px;   
    font-size: 26px;
    line-height: 22px;    
    padding-top: 10px;
   
  }
  .main-image {
    height: 1250px;
  }

  .main-image-all {
    width: 250px;
    height: 200px;
  }
  .main-image-all img {
    width: 250px;
    height: 200px;
  }

  .main-image-all .top-text h3 {
    width: 250px;
    font-size: 24px;
    line-height: 44px;
  }

  .main-image-all .top-text p {
    width: 250px;
  }
  .main-image-all:hover .top-text h3 {
  
    font-size: 26px;
    
  }
  .main-image-all:hover .top-text p {
    
    font-size: 22px;
    line-height: 28px;
    
  }
  .main-allCities .btn {
    width: 200px;
    height: 50px;
    font-size: 28px;
  }
  .main-search .p {
    font-size: 32px;
  }

  .main-search .box-cont {
    margin-left: 10px;
    margin-right: 10px;
  }
  .main-search .box {
    width: 350px;
    font-size: 16px;
    line-height: 28px;
  }

  .main-search .box-btn {
    font-size: 28px;
    padding: 10px 10px;
    margin-left: 31%;
    margin-top: 15px;
  }
  .img-box h3,
  .img-box p {
    font-size: 22px;
    line-height: 30px;
  }
  .main-con {
    height: 400px;
  }

  .main-con .img-box {
    margin-right: 5%;
    margin-left: 5%;
    width: 30%;
  }

  .main-con .img-box1 {
    margin-top: -10px;
    margin-left: -23%;
    overflow: hidden;
    width: 50%;
  }

  .img-box1 > img {
    margin-left: 5%;
    width: 350px;
    height: 410px;
  }
  .main-empty {
    height: 80px;
  }
}


@media only screen and (max-width: 640px) {
  .main-title {
    height: 60px;   
    font-size: 26px;
    line-height: 22px;    
    padding-top: 10px;
   
  }
  .main-image {
    height: 1250px;
  }

  .main-image-all {
    width: 250px;
    height: 200px;
  }
  .main-image-all img {
    width: 250px;
    height: 200px;
  }

  .main-image-all .top-text h3 {
    width: 250px;
    font-size: 24px;
    line-height: 44px;
  }

  .main-image-all .top-text p {
    width: 250px;
  }
  .main-image-all:hover .top-text h3 {
  
    font-size: 26px;
    
  }
  .main-image-all:hover .top-text p {
    
    font-size: 22px;
    line-height: 28px;
    
  }
  .main-allCities .btn {
    width: 200px;
    height: 50px;
    font-size: 28px;
  }
  .main-search .p {
    font-size: 32px;
  }

  .main-search .box-cont {
    margin-left: 10px;
    margin-right: 10px;
  }
  .main-search .box {
    width: 350px;
    font-size: 16px;
    line-height: 28px;
  }

  .main-search .box-btn {
    font-size: 28px;
    padding: 10px 10px;
    margin-left: 31%;
    margin-top: 15px;
  }
  .img-box h3,
  .img-box p {
    font-size: 22px;
    line-height: 30px;
  }
  .main-con {
    height: 400px;
  }

  .main-con .img-box {
    margin-right: 5%;
    margin-left: 5%;
    width: 30%;
  }

  .main-con .img-box1 {
    margin-top: -10px;
    margin-left: -23%;
    overflow: hidden;
    width: 50%;
  }

  .img-box1 > img {
    margin-left: 5%;
    width: 350px;
    height: 410px;
  }
  .main-empty {
    height: 80px;
  }
}


/*********************************************/
@media only screen and (max-width: 414px) {
  .main-title {
    height: 90px;
    font-size: 24px;
    line-height: 32px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .main-image {
    height: 1990px;
  }

  .main-image-all {
    width: 310px;
    height: 170px;
  }
  .main-image-all img {
    width: 310px;
    height: 170px;
  }

  .main-image-all .top-text h3 {
    width: 280px;
    top: 50px;
    font-size: 22px;
    line-height: 34px;
  }

  .main-image-all .top-text p {
    top: 80px;
    width: 280px;
    font-size: 14px;
    line-height: 18px;
  }
  .main-image-all:hover .top-text h3 {
    font-size: 26px;
    line-height: 42px;
    transform: scale(1.15, 1.15);
  }
  .main-image-all:hover .top-text p {
    font-size: 16px;
}
 .main-allCities {
    height: 80px;
   }
.main-allCities .btn {
    width: 150px;
    height: 40px;
    font-size: 20px;
    line-height: 20px;
 }

.main-search .box-cont {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
.main-search {
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    height: 1000px;
  }
.main-search .p {
    padding-top: 30px;
    padding-bottom: 18px;
    font-size: 30px;
    line-height: 40px;
}
.main-search .box {
    width: 350px;
    margin-right: 25px;
    margin-left: 25px;
    margin-top: 7px;
    font-size: 16px;
    line-height: 30px;
  }
.orange{
    margin-top: -35px;
   
  }
.main-search .box-btn {
    font-size: 14px;
    line-height: 15px;
    padding: 10px 10px;
    margin-left: 1.5%;
}

  .img-box h3,
  .img-box p {
    font-size: 20px;
    line-height: 30px;

  }

.main-con {
   flex-wrap: wrap;
    height: 800px;
    padding-top: 30px;
  }

.main-con .img-box {
   font-size: 20px;
    line-height: 20px;
    margin-right: 5%;
    margin-left: 5%;
    width: 86%;
    height: 230px;
 
   }
.main-con .img-box1 {
    margin-top: -10px;
    margin-left: 0%;
    overflow: hidden;
    width: 100%;
    height: 250px;
  }
.img-box1 > img {
  margin-left: 0%;
    width: 330px;
    height: 250px;
    padding-top: 0px 0px;
  }
.main-empty {
  height: 50px;
   }
}
/*********************************************/

@media only screen and (max-width: 375px) {
  .main-title {
    height: 90px;
    font-size: 24px;
    line-height: 32px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .main-image {
    height: 1590px;
  }

  .main-image-all {
    width: 280px;
    height: 150px;
  }
  .main-image-all img {
    width: 280px;
    height: 150px;
  }

  .main-image-all .top-text h3 {
    width: 280px;
    top: 50px;
    font-size: 22px;
    line-height: 34px;
  }

  .main-image-all .top-text p {
    top: 80px;
    width: 280px;
    font-size: 14px;
    line-height: 18px;
  }
  .main-image-all:hover .top-text h3 {
    font-size: 26px;
    line-height: 42px;
    transform: scale(1.15, 1.15);
  }
  .main-image-all:hover .top-text p {
    font-size: 16px;
}
 .main-allCities {
    height: 80px;
   }
.main-allCities .btn {
    width: 150px;
    height: 40px;
    font-size: 20px;
    line-height: 20px;
 }

.main-search .box-cont {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
.main-search {
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    height: 1000px;
  }
.main-search .p {
    padding-top: 30px;
    padding-bottom: 18px;
    font-size: 30px;
    line-height: 40px;
}
.main-search .box {
    width: 350px;
    margin-right: 25px;
    margin-left: 25px;
    margin-top: 7px;
    font-size: 16px;
    line-height: 30px;
  }
.orange{
    margin-top: -35px;
   
  }
.main-search .box-btn {
    font-size: 14px;
    line-height: 15px;
    padding: 10px 10px;
    margin-left: 1.5%;
}

  .img-box h3,
  .img-box p {
    font-size: 20px;
    line-height: 30px;

  }

.main-con {
   flex-wrap: wrap;
    height: 800px;
    padding-top: 30px;
  }

.main-con .img-box {
   font-size: 20px;
    line-height: 20px;
    margin-right: 5%;
    margin-left: 5%;
    width: 86%;
    height: 230px;
 
   }
.main-con .img-box1 {
    margin-top: -10px;
    margin-left: 0%;
    overflow: hidden;
    width: 100%;
    height: 250px;
  }
.img-box1 > img {
  margin-left: 0%;
    width: 330px;
    height: 250px;
    padding-top: 0px 0px;
  }
.main-empty {
  height: 50px;
   }
}
/**********************************************/
