#main_content {
  display: grid;
  grid-template-columns: auto;
}
.main_cont_header {
  display: grid;
  grid-template-columns: auto;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  height: 100px;

  /* border: 15px solid green; */
}
#main_cont_img {
  display: grid;
  grid-template-columns: repeat(3, 350px);
  margin: auto auto;
  height: 850px;
  /* border: 1px solid green; */
}
.main_cont_img_box {
  position: relative;
  margin: 1rem 1rem;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
  overflow: hidden;
}
.main_cont_img_box img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
 
  transition: transform .2s ease;
  
}
.main_cont_img_box:hover img {
  transform: scale(1.15, 1.15);

}

.main_cont_img_box h3 {
  position: absolute;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  /* text-align: center; */
  top: 40%;
  left: 25%;
  color: #ffffff;
}




/*see all cities*/
.main_cont_btn {
  position: relative;
  height: 100px;
}
.main_cont_btn .btn {
  position: absolute;
  width: 350px;
  height: 60px;
  left: 40%;
  top: 50%;
  background: #ffffff;
  border: 1px solid #03c5f0;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #03c5f0;
  border-radius: 5px;
}
/*search and Compare*/
#main_cont_search {
    position: relative;
    width: 100%;
    height: 492px;
    margin-top: 30px;
    background: rgba(229, 229, 229, 0.76);
}
#main_cont_search .mcs_header{
    position: absolute;

left:30%;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;
text-align: center;
margin-top: 20px;
color: #000000;
}
#main_cont_search .mcs_box1{

  position: absolute;
width: 25%;
left: 10%;
bottom: 0px;
height: 400px;
margin:10px 10px;
}
#main_cont_search .mcs_box2{
  position: absolute;
width: 25%;
left: 37%;
bottom: 0px;
height: 400px;
margin:10px 10px;


}
#main_cont_search .mcs_box3{
  position: absolute;
width: 25%;
right: 10%;
bottom: 0px; 
height: 400px;
margin:10px 10px;
}
#main_cont_search .mcs_content img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
 margin-top: 40px;
}
#main_cont_search .mcs_content h2{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  margin-top: 30px;
}
#main_cont_search .mcs_content p{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}
#main_cont_search .mcs_btn{
  position: absolute;
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 35px;
text-align: center;
color: #FFFFFF;
background: #F49131;
border-radius: 5px;
border:none;
bottom: 0px;
left: 42%;
margin-bottom: 30px;
/* height: 70px; */
padding: 15px 15px;
}
/*book a demo*/
#using_grid{
/* position:relative; */
display: grid;
grid-template-columns: 30% 40% 30%;
background: #03C5F0;
height: 461px;
padding: 40px 70px 0px 70px;

}

#using_grid .using_blog1{


  margin:40px 0px;
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
text-align: center;
color: #FFFFFF;
width: 100%;
}
#using_grid .using_blog2{
 margin-top: 12px;
  /* border:2px solid brown; */

}
#using_grid .using_blog3{


  margin:40px 0px;
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
text-align: center;
color: #FFFFFF;
}


.book_demo{

  background: #E5E5E5;
  height: 100px;
  width: 100%;
  
  } 

  .mcontent-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .mcontent-container h1 {
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    color: rgb(104, 100, 100);
  }
  
  .main-content-container {
    /* display: flex; */
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    columns: 3;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
    .image {
      height: 200px;
      overflow: hidden;
      width: 400px;
      border-radius: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: auto;
      margin-right: auto
    }
  
    .image .inner {
      background-size: cover;
      background-repeat: no-repeat;
      display: flex;
      flex-direction: column;
      justify-items: center;
      align-items: center;
      justify-content: center;
      height: 100%;
      transform: scale(1, 1);
      transition: transform 0.2s;
    }
    
    .image:hover .inner {
      transform: scale(1.15, 1.15);
      cursor: pointer;
    }
  
    .inner h3 {
      color: #ffffff;
      font-size: 32px;
      z-index: 2;
    }
  
    .inner p {
      color: #ffffff00;
      transition: all 0.5s;
    }
  
    .image:hover .inner p {
      color: #ffffff;
      font-weight: bold;
      transform: scale(1.15, 1.15);
      transition: all 0.5s;
    }