.welcomePage {
  margin-top: 70px;
  margin-bottom: 0px;
  color: white;
  background: url("https://i.postimg.cc/7Lwx6b4Y/hom.jpg") center/cover
    no-repeat;
  height: 750px;
  width: 100%; 
  text-align: center;
  text-transform: capitalize;
}
.welpage { 
  background: rgba(9, 0, 0, 0.4);
  height: 750px;
  width: 100%;
  text-align: center;
}
.welpage > h1 {
  font-size: 60px;
  margin-top: 15%;
  font-weight: bolder;
  letter-spacing: 1px;
}
@media only screen and (max-width: 1366px) {
  .welpage { 
    height: 750px; 
    font-size: 30px;     
    
  }
  .welpage>h1 {
    margin-top: 20%;        
  }
}
@media only screen and (max-width: 1024px) {
  .welpage { 
    height: 750px;     
    font-size: 30px;
  }
  .welpage > h1 {
    margin-top: 26%;     
  }
}
@media only screen and (max-width: 768px) {
  .welcomePage {  
    height: 720px;  
    font-size: 20px;  
  }
  .welpage {
      height: 720px;     
  }
  .welpage > h1 {
    font-size: 50px;
    margin-top: 37%;   
  }
}
@media only screen and (max-width: 736px) {
  .welcomePage {  
    height: 340px;  
  }
  .welpage {    
    height: 340px;  
  }
  .welpage > h1 {
    font-size: 30px;
    margin-top: 15%;   
  }
  .welpage > h2 {
    font-size: 30px;
  }  
}

@media only screen and (max-width: 414px) {
  .welcomePage {  
    height: 400px;  
    font-size: 12px;   
  }
  .welpage {   
    height: 400px;   
  }
  .welpage > h1 {
    font-size: 34px;
    margin-top: 40%;
    line-height: 38px;
  }
  .welpage>h2 {
    font-size: 32px;
  }
}

@media only screen and (max-width: 360px) {
  .welcomePage {
    height: 360px; 
  }
  .welpage {
    height: 360px; 
  }
  .welpage > h1{
    font-size: 30px;
    margin-top: 40%;    
    line-height: 30px;
  }
  .welpage > h2{
    font-size: 30px;
  }
}
