ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

ul div {
    border: 1px solid lightblue;
    border-radius: 5px;
}

ul div img {
    max-width: 300px;
    max-height: 300px;
    margin: 5px;
}