.logContainer {
  position: relative;
  width: 374px;
  height: 450px;
  /* overflow: scroll; */
  background: #00bfff;
  border-radius: 3px;
  box-shadow: 0 -3px 3px rgb(0 0 0 / 10%), 0 3px 3px #ececfb;
}
.regContainer {
  position: relative;
  width: 374px;
  height: 542px;
  /* overflow: scroll; */
  background: #00bfff;
  border-radius: 3px;
  box-shadow: 0 -3px 3px rgb(0 0 0 / 10%), 0 3px 3px #ececfb;
}

.logTitle {
  position: absolute;
  width: 165px;
  height: 27px;
  left: 18px;
  top: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
}


.logLine {
  position: absolute;
  width: 340.01px;
  height: 1px;
  left: 8.99px;
  top: 49px;
  background: #ffffff;
  transform: rotate(-0.33deg);
  border-width: 0px;
}
.logTitleOne {
  position: absolute;
  width: 165px;
  height: 27px;
  left: 18px;
  top: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
}

.logTitleTwo {
  position: absolute;
  height: 18px;
  width: 106px;
  left: 18px;
  top: 175px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}

.inputOne {
  position: absolute;
  width: 300px;
  height: 25px;
  left: 18px;
  top: 125px;
  background: #ffffff;
  border-width: 0px;
}

.logTitleThree {
  position: absolute;
  width: 106px;
  height: 18px;
  left: 18px;
  top: 250px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}
.inputTwo {
  position: absolute;
  width: 300px;
  height: 25px;
  left: 18px;
  top: 200px;
  background: #ffffff;
  border-width: 0px;
}
.logTitleFour {
  position: absolute;
  width: 200px;
  height: 18px;
  left: 18px;
  top: 325px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}
.inputThree {
  position: absolute;
  width: 300px;
  height: 25px;
  left: 18px;
  top: 275px;
  background: #ffffff;
  border-width: 0px;
}
.loginBtn {
  position: absolute;
  width: 305px;
  height: 51px;
  left: 18px;
  top: 269px;
  background: #ff8c00;
  border-width: 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
}
.signupBtn {
  position: absolute;
  width: 305px;
  height: 51px;
  left: 18px;
  top: 350px;
  background: #ff8c00;
  border-width: 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
}

.registerPlc {
  position: absolute;
  width: 374px;
  height: 117px;
  left: 0px;
  top: 333px;
  background: #ffffff;
}
.loginPlc {
  position: absolute;
  width: 374px;
  height: 117px;
  left: 0px;
  top: 425px;
  background: #ffffff;
  
}
.registerTxt {
  position: absolute;
  width: 218px;
  height: 25px;
  left: -8px;
  top: 350px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #03c5f0;
}

.regLine {
  position: absolute;
  width: 340.01px;
  height: 1px;
  left: 8.99px;
  top: 376px;
  background: #03c5f0;
  border-width: 0px;
}

.agentBtn {
  position: absolute;
  width: 305px;
  height: 30px;
  left: 22px;
  top: 403px;
  background: #00bfff;
  border-width: 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
}
.loginBtn2 {
  position: absolute;
  width: 305px;
  height: 40px;
  left: 22px;
  top: 470px;
  background: #00bfff;
  border-width: 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
}
#header{
  background-color:#03C5F0 ;
  height: 100;
  width: 100%;
  padding-top: 5px;
  align-items: baseline;
  
}

#unihomes{
  margin: 5px;
  color: white;
  text-align: left;
  font-size: 40px;
}


.navbar-item{
  float: right;
  flex-direction: row-reverse;
  color: white;
  margin-left: 50px;
  padding-top: 10;
}

#PopoverLegacy{
  background-color: #00bfff;
}




