* {
  overflow-x: hidden;
}
.header {
  display: flex;
  justify-content: space-between;
  background: rgb(0, 191, 255, 0.05);
  height: 100px;
  z-index: 11;
  position: fixed;
  width: 100%;
  align-items: center;
  transition: all 0.5s;
}

.scroll {
  display: flex;
  justify-content: space-between;
  background: rgb(0, 191, 255);
  height: 70px;
  z-index: 11;
  position: fixed;
  width: 100%;
  align-items: center;
  transition: all 0.5s;
}

.scroll .header-logo {
  float: left;
  margin-left: 10px;
  transition: all 0.5s;
}

.scroll .header-items {
  float: right;
  margin-right: 20px;
  transition: all 0.5s;
}

.header-logo {
  float: left;
  margin-left: 30px;
  margin-top: 20px;
  transition: all 0.5s;
}

.header-logo a {
  color: #ffffff;
}

.header-items {
  float: right;
  margin-right: 40px;
  margin-top: 20px;
  transition: all 0.5s;
}

.header-items button {
  border: none;
  background: none;
  color: #ffffff;
  font-size: large;
  font-weight: 200;
  cursor: pointer;
}

.home-logo {
  margin-top: +5px;
}

.navbar-item {
  margin: 10px;
  color: #ffffff;
  font-size: large;
  font-weight: 200;
}

.search-toggle input {
  margin-top: +15px;
  margin-left: +150px;
  width: 350px;
  height: 30px;
  border: 2px solid #333;
  border-radius: 5px;
}

.logContainer {
  position: absolute;
  right: 0;
  z-index: 30;
  width: 374px;
  height: 450px;
  /* overflow: scroll; */
  background: #00bfff;
  border-radius: 3px;
  box-shadow: 0 -3px 3px rgb(0 0 0 / 10%), 0 3px 3px #ececfb;
}
.regContainer {
  position: absolute;
  right: 0;
  z-index: 30;
  width: 374px;
  height: 542px;
  /* overflow: scroll; */
  background: #00bfff;
  border-radius: 3px;
  box-shadow: 0 -3px 3px rgb(0 0 0 / 10%), 0 3px 3px #ececfb;
}

.logTitle {
  position: absolute;
  width: 165px;
  height: 27px;
  left: 18px;
  top: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
}

.logLine {
  position: absolute;
  width: 340.01px;
  height: 1px;
  left: 8.99px;
  top: 49px;
  background: #ffffff;
  transform: rotate(-0.33deg);
  border-width: 0px;
}
.logTitleOne {
  position: absolute;
  width: 165px;
  height: 27px;
  left: 18px;
  top: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
}

.logTitleTwo {
  position: absolute;
  height: 18px;
  width: 106px;
  left: 18px;
  top: 175px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}

.inputOne {
  position: absolute;
  width: 300px;
  height: 25px;
  left: 18px;
  top: 125px;
  background: #ffffff;
  border-width: 0px;
}

.logTitleThree {
  position: absolute;
  width: 106px;
  height: 18px;
  left: 18px;
  top: 250px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}
.inputTwo {
  position: absolute;
  width: 300px;
  height: 25px;
  left: 18px;
  top: 200px;
  background: #ffffff;
  border-width: 0px;
}
.logTitleFour {
  position: absolute;
  width: 200px;
  height: 18px;
  left: 18px;
  top: 325px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}
.inputThree {
  position: absolute;
  width: 300px;
  height: 25px;
  left: 18px;
  top: 275px;
  background: #ffffff;
  border-width: 0px;
}
.loginBtn {
  position: absolute;
  width: 305px;
  height: 51px;
  left: 18px;
  top: 269px;
  background: #ff8c00;
  border-width: 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
}
.signupBtn {
  position: absolute;
  width: 305px;
  height: 51px;
  left: 18px;
  top: 350px;
  background: #ff8c00;
  border-width: 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
}

.registerPlc {
  position: absolute;
  width: 374px;
  height: 117px;
  left: 0px;
  top: 333px;
  background: #ffffff;
}
.loginPlc {
  position: absolute;
  width: 374px;
  height: 117px;
  left: 0px;
  top: 425px;
  background: #ffffff;
}
.registerTxt {
  position: absolute;
  width: 218px;
  height: 25px;
  left: -8px;
  top: 350px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #03c5f0;
}

.regLine {
  position: absolute;
  width: 340.01px;
  height: 1px;
  left: 8.99px;
  top: 376px;
  background: #03c5f0;
  border-width: 0px;
}

.agentBtn {
  position: absolute;
  width: 305px;
  height: 30px;
  left: 22px;
  top: 403px;
  background: #00bfff;
  border-width: 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
}
.loginBtn2 {
  position: absolute;
  width: 305px;
  height: 40px;
  left: 22px;
  top: 470px;
  background: #00bfff;
  border-width: 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
}

#PopoverLegacy {
  background-color: #00bfff;
}
.btn {
  cursor: pointer;
}
