.logContainer {
  position: fixed;
  display: inline;
  margin-top: 7%;
  right: 0;
  z-index: 30;
  width: 25%;
  height: 450px;
  overflow: hidden;
  background: #00bfff;
  border-radius: 3px;
  box-shadow: 0 -3px 3px rgb(0 0 0 / 10%), 0 3px 3px #ececfb;
}
.formLog {
  height: fit-content;
}
.logContainer label,
.logContainer input {
  display: block !important;
  margin-left: +5%;
}

.login-email {
  margin-top: +20%;
}

.login-email input,
.login-password input {
  width: 90%;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.login-email input::placeholder {
  color: rgb(179, 177, 177);
  font-size: small;
}

.login-password {
  margin-top: +9%;
}

.login-password input::placeholder {
  color: rgb(179, 177, 177);
  font-size: small;
}

.login-email label,
.login-password label {
  margin-bottom: +2%;
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  color: #ffffff;
  overflow: hidden;
}

.logScroll {
  position: fixed;
  margin-top: 7%;
}
.regScroll {
  position: fixed;
}

.regContainer {
  position: fixed;
  display: inline;
  margin-top: 7%;
  right: 0;
  z-index: 30;
  width: 25%;
  height: 510px;
  overflow: hidden;
  background: #00bfff;
  border-radius: 3px;
  box-shadow: 0 -3px 3px rgb(0 0 0 / 10%), 0 3px 3px #ececfb;
}

.regScroll {
  position: fixed;
}

.registerTxt {
  overflow: hidden;
}

.logTitle {
  position: absolute;
  width: 100%;
  height: 30px;
  left: 18px;
  top: 18px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  overflow: hidden;
}

.logLine {
  position: absolute;
  width: 90%;
  height: 1px;
  left: 8.99px;
  top: 49px;
  background: #ffffff;
  transform: rotate(-0.33deg);
  border-width: 0px;
}

.regContainer label,
.regContainer input {
  display: block !important;
  margin-left: +5%;
}
.reg-company {
  margin-top: +18%;
}
.reg-email {
  margin-top: 5px;
}

.reg-email label {
  display: block;
}
.reg-password {
  margin-top: 5px;
}
.reg-repassword {
  margin-top: 5px;
}
.reg-company input,
.reg-email input,
.reg-password input,
.reg-repassword input {
  width: 90%;
  padding: 10px;
  padding-top: 8px;
  margin-top: 7px;
  border: none;
  border-radius: 5px;
}
.reg-company label,
.reg-email label,
.reg-password label,
.reg-repassword label {
  margin-top: 3px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  color: #ffffff;
  overflow: hidden;
}
.reg-company input::placeholder,
.reg-email input::placeholder,
.reg-password input::placeholder,
.reg-repassword input::placeholder {
  color: rgb(179, 177, 177);
  font-size: small;
}
.loginBtn {
  position: absolute;
  width: 90%;
  height: 40px;
  left: 18px;
  top: 269px;
  background: #ff8c00;
  border: none;
  border-radius: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 24px;
  color: #ffffff;
}
.signupBtn {
  position: absolute;
  width: 90%;
  height: 51px;
  left: 18px;
  top: 360px;
  background: #ff8c00;
  border-width: 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  border-radius: 5px;
}

.registerPlc {
  position: absolute;
  width: 100%;
  height: 120px;
  left: 0px;
  top: 333px;
  background: #ffffff;
}
.loginPlc {
  position: absolute;
  width: 100%;
  height: 120px;
  left: 0px;
  top: 425px;
  background: #ffffff;
}
.registerTxt {
  position: absolute;
  width: 218px;
  height: 30px;
  left: -8px;
  top: 345px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #03c5f0;
}

.regLine {
  position: absolute;
  width: 90%;
  height: 1px;
  left: 8.99px;
  top: 376px;
  background: #03c5f0;
  border-width: 0px;
}

.agentBtn {
  position: absolute;
  width: 90%;
  height: 35px;
  left: 22px;
  top: 403px;
  background: #00bfff;
  border: none;
  border-radius: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
}
.loginBtn2 {
  position: absolute;
  width: 90%;
  height: 40px;
  left: 22px;
  top: 450px;
  background: #00bfff;
  border-width: 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  border-radius: 5px;
}
.close-logo {
  float: right;
  margin-right: 45px;
  cursor: pointer;
}
@media only screen and (max-width: 1024px) {
  .logContainer {
    margin-top: 9%;
  }
  .regContainer {
    margin-top: 9%;
  }
  .close-logo {
    float: right;
    margin-right: 30px;
    cursor: pointer;
    margin-top: 3px;
  }
  .reg-company {
    margin-top: 22%;
  }
  .login-email {
    margin-top: 27%;
  }
  .loginBtn {
    left: 13px;
    top: 250px;
  }
  .loginBtn2 {
    left: 13px;
  }
  .agentBtn {
    left: 13px;
  }
  .signupBtn {
    left: 13px;
  }
}

@media only screen and (max-width: 768px) {
  .logContainer {
    margin-top: 10%;
    height: 370px;
  }
  .regContainer {
    margin-top: 10%;
  }
  .login-email {
    margin-top: 35%;
  }
  .loginBtn {
    height: 35px;
    left: 10px;
    font-size: 18px;
    top: 215px;
  }
  .registerPlc {
    top: 270px;
  }
  .registerTxt {
    top: 275px;
  }
  .regLine {
    top: 310px;
  }
  .agentBtn {
    height: 30px;
    left: 10px;
    font-size: 15px;
    top: 330px;
  }
  .registerTxt {
    font-size: 20px;
  }
  .close-logo {
    float: right;
    margin-right: 25px;
    cursor: pointer;
    margin-top: 3px;
  }
  .logTitle {
    font-size: 20px;
  }
  .reg-company {
    margin-top: +30%;
  }
  .regContainer {
    height: 430px;
  }
  .reg-company label,
  .reg-email label,
  .reg-password label,
  .reg-repassword label {
    margin-top: 3px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 14px;
    color: #ffffff;
    overflow: hidden;
  }
  .login-email label,
  .login-password label {
    font-size: 14px;
  }
  .login-email input,
  .login-password input,
  .reg-company input,
  .reg-email input,
  .reg-password input,
  .reg-repassword input {
    padding: 7px;
  }
  .signupBtn {
    height: 40px;
    left: 10px;
    font-size: 18px;
    top: 320px;
  }
  .loginBtn2 {
    height: 30px;
    left: 10px;
    font-size: 15px;
    top: 390px;
  }
  .loginPlc {
    top: 370px;
  }
}

@media only screen and (max-width: 415px) {
  .logContainer {
    margin-top: 20%;
  }
  .regContainer {
    margin-top: 20%;
  }
  .close-logo {
    margin-right: 22px;
  }
  .logLine {
    width: 90%;
  }
  .logContainer {
    width: 50%;
    height: 380px;
  }
  .registerPlc {
    top: 270px;
  }
  .loginBtn {
    top: 210px;
  }
  .registerTxt {
    top: 280px;
    left: -20px;
  }
  .agentBtn {
    top: 340px;
  }
  .regLine {
    top: 315px;
    width: 90%;
  }
  .login-email {
    margin-top: 35%;
  }
  .regContainer {
    width: 50%;
    height: 430px;
  }
  .signupBtn {
    top: 320px;
  }
  .loginPlc {
    top: 375px;
  }
  .loginBtn2 {
    top: 390px;
  }
}
