.filter {
  background: white;
  height: 127px;
  width: auto;
  display: flex;
  font-family: Roboto;
}

.form-select {
  display: flex;
  flex-direction: column;
  margin: 30px;
  width: 400px;
  font-size: 18px;
}

.form-option {
  border: solid 1px #e5e5e5;
  margin-top: 10px;
  border-radius: 4px;
  padding: 5px;
  font-family: Roboto;
  width: 95%;
  height: auto;
  font-size: 20px;
}
.title-text {
  margin: 10px;
  padding: 10px;
  font-weight: 20;
  font-family: Roboto;
  font-size: 24px;
}
.home-number {
  font-size: 30px;
}
.homes {
  background: #e5e5e5;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.banner-bottom {
  background: url("https://i.postimg.cc/ZqhM0RDw/naassom-azevedo-Q-Sei-Tq-Slc-unsplash-1.png")
    no-repeat;
  width: 100%;
  height: 1000px;
  background-size: 100% 100%;
}

.banner-bottom-text {
  text-align: center;
}
.banner-bottom-text h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 100px;
}
.banner-bottom-text h5 {
  margin-left: 5%;
  margin-right: 5%;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 50px;
}
@media (max-width: 1366px) {
  .home-number {
    font-size: 27px;
  }
  .form-select {
    font-size: 18px;
  }
  .form-option {
    font-size: 18px;
  }
  .banner-bottom-text h1 {
    font-size: 95px;
  }
  .banner-bottom-text h5 {
    font-size: 30px;
  }
}
@media (max-width: 1119px) {
  .banner-bottom-text h1 {
    font-size: 80px;
  }
  .banner-bottom-text h5 {
    font-size: 25px;
    line-height: normal;
  }
}

@media (max-width: 900px) {
  .form-select {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 230px;
  }
  .banner-bottom-text h1 {
    font-size: 65px;
  }
}
@media (max-width: 768px) {
  .form-select {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 13px;
    width: 230px;
    margin-top: 35px;
    font-size: 14px;
  }
  .form-option {
    font-size: 14px;
  }
  .banner-bottom-text h1 {
    font-size: 57px;
    margin-top: 5%;
  }
  .banner-bottom-text h5 {
    font-size: 23px;
    line-height: 32px;
  }
}

@media (max-width: 585px) {
  .form-select {
    font-size: 12px;
  }
  .form-option {
    font-size: 12px;
  }
  .title-text {
    font-size: 18px;
    padding-right: 20px;
  }
}

@media (max-width: 360px) {
  .filter {
    background: white;
    height: 80px;
    width: auto;
    display: flex;
  }

  .form-select {
    width: 190px;
    font-size: 7px;
  }

  .form-option {
    border-radius: 2px;
    padding: 0;
    width: 88%;
    height: auto;
    font-size: 7px;
  }

  .title-text {
    font-size: 10px;
    margin: -2px;
  }
  .banner-bottom-text {
    text-align: center;
  }
  .banner-bottom-text h1 {
    font-size: 30px;
    line-height: 40px;
    margin-top: 1%;
  }
  .banner-bottom-text h5 {
    font-size: 15px;
    line-height: 20px;
  }
  .banner-bottom {
    height: 500px;
  }
  .home-number {
    font-size: 20px;
  }
}
